html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrapper {
    max-width: 420px;
    min-height: 50vh;
    margin: 0 auto;
}

button {
    font-size: 2rem;
    border: 1px solid #333;
    cursor: pointer;
}

.digits button {
    background-color: #efefef;
}
.wrapper,
.subgrid {
    display: grid;
}
.wrapper {
    margin: 50px;
    grid-template-areas:
    "total total total total"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
    grid-auto-columns: 1fr;
}
.digits {
    grid-area: digit;
}

.show-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    border: 2px solid dimgray;
    width: 420px;
    height: 100px;
}

.digits {
    display: flex;
    flex-wrap: wrap;
}
.digits button {
    flex: 1 0 26%;
}